#swagger-ui {
  width: 100%;
  .swagger-ui {
    * {
      font-family: roboto, helvetica, sans-serif !important;
    }
    .servers-title {
      display: inline-block;
      margin-bottom: 1em;
    }
    a.nostyle, a.nostyle * {
      border-bottom: 0;
      text-decoration: none;
    }
    .scheme-container {
      background: none;
      border: 1px solid rgba(59,65,81,.3);
      border-radius: 6px;
      box-shadow: none;
      padding: 20px 0;
    }
  }
}
