.covid {
  width: 100%;

  code {
    font-family: "Monaco", monospace;
    font-weight: bold;
    font-size: smaller;
  }

  a, a:hover {
    border-bottom: 0;
  }

  .covid-tile {
    display: none;
    padding: 2em 0;
    text-align: center;
    &:last-child {
      border-bottom: 0;
    }
  }

  .covid-state {
    font-weight: normal;
    text-transform: uppercase;
  }

  .covid-count {
    display: block;
    font-size: 4em;
    font-weight: bold;
  }

  .covid-url {
    display: block;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .covid-url a {
    font-weight: bold;
    padding: 7px 15px;
    text-transform: uppercase;
  }

  time {
    display: block;
    font-size: 1em;
  }
}
