input[type="search"] {
    font-size: 1.5em;
    margin: .5em auto 0;
    padding: 20px;
    width: 100%;
}

input:focus-within {
    outline: none;
}

#posts_wrapper {
    margin: 0 auto;
    width: 100%;
}

table#posts {
    margin-top: 1em;
    padding-top: 1em;
    width: 100%;
}

#posts th {
    border: 0;
    cursor: pointer;
    font-size: .9em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#posts th:nth-child(2) {
    width: 7em !important;
}

#posts td {
    line-height: 1.3;
    padding: 1em;
    text-align: center;
}

#posts td:nth-child(2) {
    text-align: left;
}

#posts td a {
    border-bottom: none;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button {
    border: 0;
    font-size: .9em;
    line-height: 2.5em;
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    border: 0;
    cursor: pointer;
}

#posts_filter {
    float: none;
    text-align: center;
}

table.dataTable.no-footer {
    border: 0;
}

.dataTables_wrapper .dataTables_paginate {
    float: none;
    margin-top: 2em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    input[type="search"] {
        font-size: 1em;
    }

    #posts {
        width: 100% !important;
    }

    #posts td {
        font-size: .8em;
    }

}
