em.child-total {
    font-size: 5em;
    font-style: normal;
}

.child-template {
    display: none;
}

.child {
    margin-bottom: 1.5em;
}

.child-avatar img {
    border: 1em solid #ddd;
    margin-bottom: 1.5em;
    width: 100px;
}

.payment-options .btn-circle.btn-lg {
    height: 4em;
    width: 4em;
}


