em.child-total {
    font-size: 5em;
    font-style: normal;
}

.child-template {
    display: none;
}

.child {
    margin-bottom: 1.5em;
}

.child-avatar img {
    border: 1em solid #ddd;
    margin-bottom: 1.5em;
    width: 115px;
}

.btn-group-vertical {
    margin-top: .5em;
}

.btn-group-vertical .btn {
    margin-bottom: .3em;
}


