@media only screen and (max-width: $small-device-max-width) {
  h1 {
    margin: 1em auto 0;
    text-align: center;
  }

  p, input[type="search"] {
    font-size: 1.3em;
    text-align: center;
  }

  #container, footer {
    width: 80%;
  }

  ul.social {
    float: none;
  }

  #copyright, ul.social {
    margin: 2em auto 0;
    text-align: center;
  }

  #posts th:nth-child(2) {
    width: 10000px !important;
  }

}