@media only screen and (max-width: $small-device-max-width) {
  h1 {
    margin: 1em auto 0;
    text-align: center;
  }

  p, input[type="search"] {
    font-size: 1em;
  }

  #posts td {
    font-size: .8em;
  }

  #container, footer {
    width: 80%;
  }

  ul.social {
    float: none;
  }

  #copyright, ul.social {
    margin: 2em auto 0;
    text-align: center;
  }

  #posts {
    width: 100% !important;
  }

  #banner {
    font-size: .8em;
  }

  #banner + #nav {
    font-size: .8em;
    text-align: center;
    top: 4.5em;
    width: 100%;
  }

  #banner + #nav + #container {
    padding-top: 1em;
  }

}