.covid-tile {
    border-bottom: 1px solid #eee;
    display: none;
    padding-bottom: 2em;
    text-align: center;
}

.covid-state {
    color: gray;
    font-weight: normal;
    font-variant: all-small-caps;
}

.covid-count {
    display: block;
    font-size: 6em;
}

.covid-url {
    display: block;
    font-size: .8em;
    margin-bottom: 1em;
}

.covid-url a {
    background: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
}

time {
    color: #aaa;
    display: block;
    font-size: .8em;
}
