body {
    background: white;
    border-top: 1em solid cornflowerblue;
    color: #333;
    font-family: "Rubik", sans-serif;
    font-size: .8em;
    padding-top: 3em;
}

#container, footer {
    margin: 0 auto 3em;
    width: 80%;
}

h1 {
    font-size: .8em;
    font-weight: 700;
    margin-left: -2em;
    text-transform: uppercase;
}

h1+p {
    margin-top: .2em;
}

p, ul li {
    font-size: 1.3em;
    line-height: 1.5em;
}

sup {
    margin-left: .3em;
}

a, a:visited, sup a:hover {
    background: #eee;
    color: cornflowerblue;
    border: 0;
    padding: 2px 5px;
    text-decoration: none;
}

a:hover, sup a {
    background: lightskyblue;
    color: white;
}

sup a:hover {
    background: cornflowerblue;
    color: white;
}

em {
    color: cornflowerblue;
    font-style: normal;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: .2em 0 0;
}

footer {
    border-top: 1px solid #ddd;
    font-size: 75%;
    margin-top: 2.4em; 
}

footer ol {
    margin: 0;
    padding: 1.2em 0 0 1.2em;
}

footer li {
    line-height: 1.5em;
}

@media only screen and (min-width: 959px) {
    body {
        font-size: 1em;
    }

    #container, footer {
        width: 55%;
    }
}
