openapi: 3.0.3
info:
  title: Andrae
  description: The API of everything
  version: 1.0.0
servers:
  - url: https://api.guillermoandraefisher.com
components:
  schemas:
    Post:
      type: object
      properties:
        externalId:
          type: string
        platform:
          type: string
        originalAuthor:
          type: string
        createdAt:
          type: integer
        thumbnailUrl:
          type: string
        htmlUrl:
          type: string
        body:
          type: string
    Elephpant:
      type: object
      properties:
        color:
          type: string
        url:
          type: string
  responses:
    PostsList:
      description: posts
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                type: object
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
    ElephpantsList:
      description: elephpants
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                type: object
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Elephpant'
paths:
  /posts:
    get:
      summary: Returns social media posts
      parameters:
        - in: query
          name: limit
          description: The number of posts to return in the result set
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/responses/PostsList'
  /elephpants:
    get:
      summary: Returns PHP elephants
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/responses/ElephpantsList'